 html,
    body,
    header,
    .carousel {
      height: 60vh;
    }

/* CSS Tambahan Sendiri */

.bungkus-qrcode {
  width: 300px;
  margin: 0 auto;
}

.bungkus-pass {
  width: 300px;
  margin: 0 auto;
}




.container-book {
  display: flex;
  align-items: center;
  height: 380px;

}
img.vert-move {
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
    width: 180px;
    margin-top: 40px;
}
img.vert-move {
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}

.container_pict {
  position: relative;
  width: 100%;
  height: auto;
}


.photo_peserta {
  width: 80px;
  height: 80px;
  border-radius: 100px; 
}

.kotak-harga
{
    font-size:26px;
    font-weight: bold;
    text-align: center;
}

.poster {
  width: 100px;
  height: 141px;
}

.image_pict {
  display: block;
  width: 100%;
  height: auto;
}

.overlay_pict {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .8s ease;
  background-color: rgba(0,101,160,0.5);
}

.container_pict:hover .overlay_pict {
  opacity: 1;
}

.text_pict {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.file-field {
    position: relative;
}

.card[class*="border"] {
  border: 0px;
}

.file-field input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    cursor: pointer;
    opacity: 0;
}

.file-field .file-path-wrapper {
    overflow: hidden;
    padding-top:  3px;
    padding-left: 10px;
    height: 2.5rem;
}
.border-top-yukseminar {
    border-top: .25rem solid #0065a0 !important;
}

.text-yukseminar {
  color:#0065a0;
}
    .header-float {
      background-color:   #007ce4;
      width:  100%;
      min-height:   auto;
      margin-top: -50px;
      box-shadow: 0 5px 11px 0 rgba(0,0,0,.18),0 4px 15px 0 rgba(0,0,0,.15);
      overflow:   hidden;
      padding:  18px;
      color: white;
      text-align:   center;

    }



    .form-daftar {
      border: 1px solid #eee;
      padding: 20px;
    }

    .logo-form {
      width: 200px;
      height: auto;
    }

    table {
      border-spacing: 1;
      border-collapse: collapse;
      background: white;
      border-radius: 10px;
      overflow: hidden;
      width: 100%;
      margin: 0 auto;
      position: relative;

       overflow-x: scroll;
      scrollbar-color: rgba(0.0.0.0.3);
      scrollbar-width: thin;
    }

    .card a{
      color: rgb(33, 37, 41);
    }

    a {
      color: black;
    }

    a:hover {
      color: #2C68E9;
      transition:0.5s;
    }

    .more {
      margin-top:  -15px;
    }

    .bar-biru {
      background: #0065a0;
      color: white;
    }

    .recent-post {
      border: 1px solid #eee;
    }

    .recent-post th {
      height: 40px;
      padding-left: 10px;
      font-size: 18px;
    }
    .recent-post img {
      width: 85px;
      height: 110px;
      overflow: hidden;
      padding: 5px;
      border: 1px dashed #ccc;
      margin-left: 10px;
      margin-right: 12px;
      margin-top: 10px;
      margin-bottom: 10px;
      float: left;
    }

    .recent-post a{
      color: black;
    }
    .recent-post h1 {
      font-size: 16px;
      margin-top: 8px;
      font-weight: bold;
      margin-bottom: 0;
      height: 22px;
      overflow: hidden;
    }

    .recent-post p {
      font-size: 13px;
      height: 42px;
      overflow: hidden;
    }
    .kuning {
      background:  #fb3;
      text-align: center;
    }

    .merah {
      background:   #ff5252;
      text-align: center;
    }

    .biru {
      background:   #4285f4;
      text-align: center;
    }

    .biru-muda {
      background:   #29b6f6;
      text-align: center;
    }

    .bar-panel {
      cursor: pointer;
    }
    .sampah {
      color: #dc3545;
      cursor: pointer;
    }

    .sampah:hover {
      color: #adb5bd;
      transition:0.5s;
    }

    .sampah-disable {
      color: #adb5bd;
    }

    table.table tr td {
      vertical-align: middle;
    }
     .btn-buatSeminar {
        width:220px;
     }


    /* Adjustment for tab*/
    @media (min-width: 768px) {
        .poster {
            width: 100%;
            height: auto;
        }

      .title {
        font-size: 25px;
      }
      .fee {
        margin-top:  20px;
      }

      .testimonial-card .card-up {
        overflow: hidden;
        height: 130px;
        -webkit-border-top-left-radius: .25rem;
        border-top-left-radius: .25rem;
        -webkit-border-top-right-radius: .25rem;
        border-top-right-radius: .25rem;
      }

      .testimonial-card .avatar {
        -webkit-border-radius: 50%;
        border-radius: 50%;
        width: 120px;
        margin-top: -60px;
        overflow: hidden;
        border: 5px solid #fff;
        height: 120px; /*TAMBAHAN HENRY */
      }

      .testimonial-card .avatar img {
          width: 100%;
         height: 100%; /*TAMBAHAN HENRY */
      }


      .panel-icon {
        height:  75px;
        width:  75px;
        border-radius:  3px;
        margin-top:   -30px;
        box-shadow:   0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
      }

      .batas-section {
        padding-top:   110px;
      }

      .icon {
        display: inline-block;
        color: white;
        font-size: 30px;
        padding-top: 20px;
      }





    }

    /* Adjustment for desktop*/
    @media (min-width: 992px) {
      .title {
        font-size: 20px;
      }

      .note-pengawas {
        padding-right: 35px;
      }


      .fee {
          margin-top:  0;
      }
      .desc {
        height: 66px;
        overflow: hidden;
        /*background: orange;*/
      }

      .title {
        overflow: hidden;
        height: 50px;
        /*background: pink;*/
      }
      .batas-section {
        padding-top:   110px;
      }

      .btn-ikut {
        margin: 0;
      }

      .panel-icon {
        height:  75px;
        width:  75px;
        border-radius:  3px;
        margin-top:   -30px;
        box-shadow:   0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
      }

      .testimonial-card .card-up {
        overflow: hidden;
        height: 120px;
        -webkit-border-top-left-radius: .25rem;
        border-top-left-radius: .25rem;
        -webkit-border-top-right-radius: .25rem;
        border-top-right-radius: .25rem;
      }

      .testimonial-card .avatar {
        -webkit-border-radius: 50%;
        border-radius: 50%;
        width: 120px;
        margin-top: -60px;
        overflow: hidden;
        border: 5px solid #fff;
        height: 120px; /* TAMBAHAN HENRY */
      }

      .testimonial-card .avatar img {
          width: 100%;
          min-height: 100%; /* TAMBAHAN HENRY */
      }

      .icon {
        display: inline-block;
        color: white;
        font-size: 30px;
        padding-top: 20px;
      }


    }

    /* Adjustment for mobile devices*/
    @media (max-width: 776px) {
    .poster {
        width: 100%;
        height: auto;
    }

      .fee {
        margin-top:  20px;
      }
      .title {
        font-size: 24px;
      }

      .desc {
        height: 66px;
        overflow: hidden;
        /*background: green;*/
      }

      .title {
        overflow: hidden;
        height: 60px;
        /*background: blue;*/
      }


      .batas-section {
        padding-top:   92px;
      }

      .btn-ikut {
        margin: 0;
      }

      .testimonial-card .card-up {
        overflow: hidden;
        height: 130px;
        -webkit-border-top-left-radius: .25rem;
        border-top-left-radius: .25rem;
        -webkit-border-top-right-radius: .25rem;
        border-top-right-radius: .25rem;
      }

      .testimonial-card .avatar {
        -webkit-border-radius: 50%;
        border-radius: 50%;
        width: 120px;
        margin-top: -60px;
        overflow: hidden;
        border: 5px solid #fff;
        height: 120px; /*TAMBAHAN HENRY */
      }

      .testimonial-card .avatar img {
          width: 100%;
          height: 100% /*TAMBAHAN HENRY */
      }

      .bar-panel {
        margin-top: 20px;
      }

      .panel-icon {
        height:  75px;
        width:  75px;
        border-radius:  3px;
        margin-top:   -30px;
        box-shadow:   0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
      }

      .icon {
        display: inline-block;
        color: white;
        font-size: 30px;
        padding-top: 20px;
      }

    .btn-save {
      margin-bottom: 10px;
     }

   .card-profile {
    margin-top: 20px;
  }


    }



    /* Akhir CSS Tambahan Sendiri */

    @media (max-width: 740px) {

      html,
      body,
      header,
      .carousel {
        height: 100vh;
      }

    }



    @media (min-width: 800px) and (max-width: 850px) {

      html,
      body,
      header,
      .carousel {
        height: 100vh;
      }


    }

    @media (min-width: 800px) and (max-width: 850px) {
      .navbar:not(.top-nav-collapse) {
        background:#0065a0 !important;
      }




    }
